servers = (
  {
    address = "127.0.0.1";
    chatnet = "local";
    port = "6667";
    no_cap = "yes";
    autoconnect = "yes";
  }
);

chatnets = {
  local = {
    type = "IRC";
    nick = "petri";
  };
};

channels = (
  { name = "#refineid"; chatnet = "local"; autojoin = "yes"; }
);

ignores = (
  {
    level = "CRAP MODES";
  }
);

aliases = {
  ATAG = "WINDOW SERVER";
  B = "BAN";
  BACK = "AWAY";
  BANS = "BAN";
  BYE = "QUIT";
  C = "CLEAR";
  CHAT = "DCC CHAT";
  DATE = "TIME";
  DEHIGHLIGHT = "DEHILIGHT";
  DESCRIBE = "ACTION";
  DHL = "DEHILIGHT";
  EXIT = "QUIT";
  J = "JOIN";
  K = "KICK";
  KB = "KICKBAN";
  M = "MSG";
  N = "NAMES";
  P = "PART";
  Q = "QUERY";
  SAY = "MSG *";
  SB = "SCROLLBACK";
  T = "TOPIC";
  W = "WHO";
  WC = "WINDOW CLOSE";
  WG = "WINDOW GOTO";
  WI = "WHOIS";
};

statusbar = {
  items = {
    barstart = "{sbstart}";
    barend = "{sbend}";
    topicbarstart = "{topicsbstart}";
    topicbarend = "{topicsbend}";
    time = "{sb $Z}";
    user = "{sb {sbnickmode $cumode}$N{sbmode $usermode}{sbaway $A}}";
    window = "{sb $winref:$tag/$itemname{sbmode $M}}";
    window_empty = "{sb $winref{sbservertag $tag}}";
    prompt = "{prompt $[.15]itemname}";
    prompt_empty = "{prompt $winname}";
    topic = " $topic";
    topic_empty = " Irssi - #refineid";
    lag = "{sb Lag: $0-}";
    act = "{sb Act: $0-}";
    more = "-- more --";
  };

  default = {
    window = {
      disabled = "no";
      type = "window";
      placement = "bottom";
      position = "1";
      visible = "active";
      items = {
        barstart = { priority = "100"; };
        time = { };
        user = { };
        window = { };
        window_empty = { };
        lag = { priority = "-1"; };
        act = { priority = "10"; };
        more = { priority = "-1"; alignment = "right"; };
        barend = { priority = "100"; alignment = "right"; };
      };
    };

    prompt = {
      type = "root";
      placement = "bottom";
      position = "100";
      visible = "always";
      items = {
        prompt = { priority = "-1"; };
        prompt_empty = { priority = "-1"; };
        input = { priority = "10"; };
      };
    };

    topic = {
      type = "root";
      placement = "top";
      position = "1";
      visible = "always";
      items = {
        topicbarstart = { priority = "100"; };
        topic = { };
        topic_empty = { };
        topicbarend = { priority = "100"; alignment = "right"; };
      };
    };
  };
};

settings = {
  core = {
    real_name = "Petri Koistinen";
    user_name = "pk";
    nick = "petri";
  };
  "fe-common/core" = {
    use_status_window = "yes";
    autocreate_windows = "yes";
    autofocus_new_items = "yes";
    hide_server_tags = "yes";
  };
  "irc/core" = {
    skip_motd = "yes";
  };
};
